:root {
  --bg-color: #F8F9FA;
  --text-white: #f8f9fa;
  --text-main: #2D3436;
  --accent-color: #26506c;
  --accent-hover: #3A637E;
  --border-color: #2D3436
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    background: var(--bg-color);
    color: var(--text-main);
    max-width: 850px;
    margin-inline: auto;

}

header {
    background: var(--accent-color);
}

footer {
    display: grid;
    background: var(--accent-color);
    padding: 20px;
}

#course-title {
    color: #fff;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1 {
    font-weight: 100;
    grid-column: 1/3;
    text-align: center;
    /* justify-content: center; */
}

nav {
    background: #36454f;
    margin-inline: auto;
    max-width: 100%;
}

nav ul {
    list-style-type: none;
    /* padding: 0; */
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover{
    border: 1px solid var(--accent-hover);
}

main {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 40%;
    padding: .5rem;
}   

.content-holder {
    padding: 10px;
}

.card {
border: 1px solid var(--accent-color);
border-radius: 8px;
margin: 0.5rem;
overflow: hidden;
}

.card h2 {
    font-size: 1rem;
    background: var(--accent-color);
    padding: .5rem;
    text-align: center;
    justify-content: center;
    color: var(--text-white);
    font-weight: 400;
}

.card p, .card li a{
    font-size: .85rem;
}

.profile {
    display: grid;
    grid-template-columns: 1fr auto;
}

.profile p:first-child {
    grid-column: 1/2;
    margin-top: .5rem;
    text-indent: 1.5rem;
    line-height: 1.2rem;
}

.profile-picture {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
    margin: 10px;
    box-shadow: 0 0 8px 2px rgba(0 0 0 / 0.3);
}

.profile-picture img {
    border-radius: 50%;
}

.country-label {
    grid-column: 1/3;
    text-align: center;
    justify-content: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 0.5rem;
}

.flag-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr 1fr;
    grid-column: 1/3;
}

.flag-grid span{
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.2rem;

}
.flag-grid figure{
    grid-column: 1/2;
    grid-row: 2/4;
    margin: 0 1rem;
    align-self: center;
    justify-self: center;
}

.flag-grid figure img{
    margin-top: .3rem;
}
.flag-grid figure figcaption {
    text-align: center;
    /* justify-content: center; */
    font-weight: 400;
    font-size: .85rem;
    color: var(--text-main);
    font-style: italic;
}

.flag-grid p{
    grid-column: 2/3;
    grid-row: 2/4;
    text-indent: 1.5rem;
    line-height: 1.2rem;
    text-align: justify;
}

.resource-links img {
    width: 100%;
}
.resource-links ul{
    list-style-type: none;
    margin-left: 5px;
}

.resource-links li{
    margin-bottom: 5px;
}

.resource-links li:first-child{
    margin-top: 10px;
}

.resource-links li a {
    text-decoration: none;
    color: var(--accent-color);
}
.resource-links li a:hover {
    /* border: 1px solid var(--accent-hover); */
    text-decoration: underline;
    padding: 2px;
}

.resource-links li a:visited {
    color: var(--text-main);
}

footer p{
    color: var(--text-white);
    font-size: smaller;
    text-align: center;
    /* justify-content: center; */
}

.modification{
    color: rgba(255, 255, 0, 0.95);
}

@media (min-width: 640px) {
    nav ul {
        display: flex;

    }

    nav ul li {
        flex: 1 1 100%;
    }

}