/* Table view */
@media screen and (min-width: 600px) {
    #menu {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 200px auto;
    }

    .navigation a {
        display: block;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    h1 {
        display: block;
        grid-column: 1/-1;
    }

    #temple-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    #temple-container section img {
        width: 100%;
        height: auto;
        border-radius: 12px;
        box-sizing: border-box;
    }


}

/* Desktop view */
@media screen and (min-width: 840px) {
    #temple-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }


}