:root {
    --bg-color: #F8F9FA;
    --text-white: #f8f9fa;
    --text-main: #2D3436;
    --accent-color: #26506c;
    --accent-hover: #3A637E;
    --border-color: #2D3436;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Google sans';
    font-weight: 400;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


header {
    display: grid;
    background-color: var(--accent-color);
    color: var(--text-white);
    height: auto;
}

main {
    height: auto;
    display: grid;
    justify-items: center;
}

h1 {
    text-align: center;
    font-weight: 100;
    padding: 1rem 0;
}

.logo-name {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--text-white);
    background: none;
    border: 0;
    font-size: 1.5rem;
}


#menu::before {
    content: "\2630";
}

#menu.open::before {
    content: 'X';
}

nav {
    display: flex;
    justify-content: center;
}
.navigation {
    flex-direction: column;
    gap: 2rem;
    list-style-type: none;
}

.navigation a {
    display: none;
    color: var(--text-white);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
}

.navigation a:hover {
    background-color: var(--accent-hover);
}

.open a {
    display: block;
    flex: 1 1 100%;

}


.figure-grid{
    grid-row-start: 2;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    gap: 1rem;
}

figure img {
    width: 200px;
}


footer {
    display: grid;
    background: var(--accent-color);
    padding: 20px;
}


footer p {
    color: var(--text-white);
    font-size: smaller;
    text-align: center;
    /* justify-content: center; */
}

.modification {
    color: rgba(255, 255, 0, 0.95);
}
