:root {
    --bg-color: #F8F9FA;
    --text-white: #f8f9fa;
    --text-main: #2D3436;
    --accent-color: #26506c;
    --accent-hover: #3A637E;
    --border-color: #2D3436
}

.rating {
    display: inline-flex;
    flex-direction: row-reverse;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2rem;
    color: lightgray;
    cursor: pointer;
}

.rating label:hover,
.rating label:hover~label {
    color: gold;
}

.rating input:checked~label {
    color: gold;
}

footer {
    display: grid;
    background: var(--accent-color);
    padding: 20px;
}

footer p {
    color: var(--text-white);
    font-size: smaller;
    text-align: center;
    /* justify-content: center; */
}

.modification {
    color: rgba(255, 255, 0, 0.95);
}