:root {
    --bg-color: #F8F9FA;
    --text-white: #f8f9fa;
    --text-main: #2D3436;
    --accent-color: #26506c;
    --accent-hover: #3A637E;
    --border-color: #2D3436;
    --header-color: rgb(48, 36, 100);
    --nav-hover: rgb(60, 44, 128);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


header {
    display: grid;
    background-color: var(--header-color);
    color: var(--text-white);
    height: auto;
}

main {
    height: auto;
    display: grid;
    justify-items: center;
}

h1 {
    text-align: center;
}

.logo-name {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--text-white);
    background: none;
    border: 0;
    font-size: 1.5rem;
}


#menu::before {
    content: "\2630";
}

#menu.open::before {
    content: 'X';
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    height: 100%;
}

.navigation a {
    display: none;
    color: var(--text-white);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
}

.navigation a:hover {
    background-color: var(--nav-hover);
}

.open a {
    display: block;
    flex: 1 1 100%;

}


.figure-grid{
    grid-row-start: 2;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

figure img {
    width: 200px;
}

figure figcaption {
    padding: 10px 0;
}

footer {
    display: grid;
    background: var(--accent-color);
    padding: 20px;
}


footer p {
    color: var(--text-white);
    font-size: smaller;
    text-align: center;
    /* justify-content: center; */
}

.modification {
    color: rgba(255, 255, 0, 0.95);
}
